* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
background-color: rgb(44, 5, 48);


}

.box2 {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.imgr {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #4caf50;
}


.box2 span {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}


.aa{
    display: flex;
    align-items: end;
    gap: 50px;
    margin-left: 600px;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
    width: 400px;
    height: 150px;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
    background-color: rgb(228, 233, 238);
    border: none;
    opacity: 0.7;

}

.card1:hover{
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 1px 1px 30px 5px rgb(124, 4, 126);
}

.otajon{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 100px;
    margin-top:10%;
}

a{
    color: dodgerblue;
    text-decoration: none;
    transition: 0.3s;
    
}


.men{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
}


.skill{
    text-align: center;
    color: white;
}


.img{
    display: flex;
    justify-content: space-around;

    margin-top: 50px;
width: 10%px;
}


.img1,.img2,.img3{
    border: 1px solid black;
width: 100px;
padding: 10px;
border-radius: 20px;
background-color: white;
border: none;
box-shadow: 1px 2px 20px 5px rgb(127, 118, 128);

}