* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url(images/image\ copy\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.toliq{
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
  background-color: rgb(6, 31, 56);
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
}
.toliq:hover{
     background-color: dodgerblue;
    transform: translateY(-3px);
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(6, 31, 56);
    padding: 20px 30px;
    color: white;


}

.imgr {
    border: 3px solid #4caf50;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.box2 span {
    font-size: 22px;
    font-weight: bold;
}

/* MENU */

.aa {
    display: flex;
    gap: 20px;
}

.aa a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.otajon a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.otajon a:hover{
    text-decoration: underline;
    color: dodgerblue;
    transform: scale(1.05);
   
}

.aa a:hover {
    background-color: dodgerblue;
    transform: translateY(-3px);
}

/* CARD */

.card1 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(3, 21, 39, 0.501);
    color: white;
    width: 400px;
    transition: 0.3s;
   
    
}

.card1:hover {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 1px 1px 20px 1px dodgerblue;
}

/* CARD CONTAINER */

.otajon {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 20px;
}

/* SKILL */

.skill {
    text-align: center;
    color: white;
    height: auto;
    background-color: rgba(3, 21, 39, 0.259);
    border-radius: 20px;
    width: 70%;
    margin: auto;
    padding: 30px;
    transition: 0.3s;
}

.skill:hover {
    opacity: 0.9;
    transform: scale(1.05);
    box-shadow: 1px 1px 30px 5px rgb(19, 88, 157);
}



.img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.img1,
.img2,
.img3 {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 2px 20px 5px dodgerblue;
}



footer {
    margin-top: 150px;
    background-color: rgba(3, 21, 39, 0.701);
    text-align: center;
    width: 100%;
    padding: 50px;
    border-radius: 50px;
}



.call {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 50px;
}

.img11,
.img12,
.img13,
.img14 {
    box-shadow: 1px 2px 10px 5px rgb(15, 82, 149);
    transition: 0.3s;
    border-radius: 50%;
}

.img11:hover,
.img12:hover,
.img13:hover,
.img14:hover {
    box-shadow: 1px 2px 30px 5px rgb(15, 82, 149);
    transform: scale(1.1);
}



.nomer {
    margin-top: 20px;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.nomer:hover {
    transform: translateY(-5px);
    box-shadow: 1px 2px 30px 5px rgb(15, 82, 149);
}

.bobo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 90px;
}


@media (max-width: 1024px) {

    .card1 {
        width: 90%;
    }

    .skill {
        width: 90%;
    }

}


@media (max-width: 600px) {

    .box2 {
        flex-direction: column;
        text-align: center;
    }

    .aa {
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgr {
        width: 100px;
        height: 100px;
    }

    .box2 span {
        font-size: 18px;
    }

    .card1 {
        width: 100%;
    }

    footer {
        padding: 30px 15px;
    }

}